// ================================= Fonts ================================= //
@font-face {
    font-family: 'Arial';
    src: url('../../dist/fonts/Arial/arial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bludhaven';
    src: url('../../dist/fonts/Bludhaven/BLUDHAVEN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BodoniXT';
    src: url('../../dist/fonts/BodoniXT/BodoniXT.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSerif';
    src: url('../../dist/fonts/RobotoSerif/RobotoSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}