
// ================================= MIXINS ================================ //
@mixin section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
@mixin titlelatin ($fontSize: 30px, $color: $mainColor){
    font-family: 'BodoniXT';
    font-size: $fontSize;
    color: $color;
    font-weight: 400;
}
@mixin dividerRight ($line: right, $color: #fff){
    background-image: linear-gradient(to $line, $color, rgba(255, 248, 248, 0) 100%, transparent);
}
@mixin dividerLeft ($line: right, $color: #fff){
    background-image: linear-gradient(to $line, transparent, rgba(255, 255, 255, 0) 0%, $color);
}

@mixin dividerCart($height: 90%, $width: 90%) {
    content: "";
    height: $height;
    width: $width;
    display: block;
    position: absolute;
}
@mixin generalFont ($size: 14px, $transform: capitalize){
    font-size: $size;
    font-family:  'Bludhaven';
    text-transform: $transform;
    color: $mainColor;
}
@mixin sectionCenter {
    max-width: 830px;
    margin: auto;
    text-align: center;
    width: 80%;
}
@mixin ornWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 20px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
@mixin ornFlower ($width: 100%, $left: 0, $top: 0){
    opacity: .6;
    position: absolute;
    width: $width;
    left: $left;
    top: $top;
}
@mixin titleTextCommon ($size: 16px){
    font-size: 16px;
    font-family: 'Bludhaven';
    text-transform: uppercase;
    color: $mainColor;
    line-height: 18px;
    max-width: 320px;
    margin: 0 auto 10px;
}
@mixin contentFlex {
    display: flex;
    gap: 35px;
}
@mixin bullet ($right: -12px){
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: $greenAlt;     
    right: $right;
    top: 0px;
    border-radius: 50%;
}
// ====================================== RESPONSIVE =========================================== //
@mixin phone {
    @media only screen and (max-width: 767px) { @content; }
}
@mixin desktop {
    @media only screen and (min-width: 768px) { @content; }
}
// ====================================== ANIMATION =========================================== //
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
@-moz-keyframes flowerRight { 
    100% { -moz-transform: rotate(25deg); } 
}
@-webkit-keyframes flowerRight { 
    100% { -webkit-transform: rotate(25deg); } 
}
@keyframes flowerRight { 
    0%   {transform:rotate(0deg);}
    50%  {transform:rotate(25deg);}
    100% {transform:rotate(0deg);}
}

@keyframes flowerLeft { 
    0%   {transform:rotate(300deg);}
    50%  {transform:rotate(315deg);}
    100% {transform:rotate(300deg);}
}