// ================================= Variable ============================= //
$mainColor: #593848;
$secondColor: #AD928A;
$brownColor: #65311B;
$greenAlt: #89A58F;
$greyColor: #4D4D4D;
$bgColor: #F5F5F5;
