@import "modules/fonts", "modules/variable", "modules/mixin", "modules/general";

//  ===================================== PLAN MY DAY =========================================== //
// .fixed-body {
//     position: fixed;
// }
.mt-10 {
  margin-top: 10px;
}
.sub-addr {
  font-size: 13px;
  margin-top: 5px;
}
.sub-header {
  text-align: center;
  .title {
    @include titleTextCommon();
  }
}
.card {
  .title {
    @include titleTextCommon();
    margin-bottom: 0;
  }
  .divider-wrapper {
    margin-bottom: 18px;
  }
  .details p {
    @include generalFont(16px);

    b {
      font-family: "BodoniXT";
      font-size: 16px;
    }
    &.mt-10 {
      text-transform: unset;
    }
    &.addres {
      max-width: 180px;
      margin: 20px auto 0;
      text-align: left;
      position: relative;
      font-size: 14px;
      line-height: 18px;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -25px;
        background-image: url("../../dist/images/icons/pin.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }
      &._additional {
        margin-top: 12px;

        &::before {
          display: none;
        }
      }
    }
  }
  &.right {
    margin-top: 97px;
    .details p {
      &.addres {
        max-width: 190px;
      }
    }
  }
  &.boyongan {
    margin-top: 55px;

    .date-flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 22px;
      gap: 10px;

      .flex-left {
        position: relative;
        &::after {
          content: "";
          width: 10px;
          height: 100%;
          position: absolute;
          top: 0;
          background-image: url("../../dist/images/icons/spliter.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          right: -10px;
        }
      }

      p:nth-child(2) {
        font-size: 14px;
        margin: 5px 0 10px;
      }
      p:nth-child(1) {
        margin-top: 15px;
      }
      p:nth-child(3) {
        margin-bottom: 15px;
      }
    }
  }
}
header {
  display: block;
  nav {
    position: fixed;
    z-index: 9;
    background: $brownColor;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    max-width: 450px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 12px 25px;
      align-items: baseline;

      li {
        display: inline-block;

        img {
          height: 24px;
          width: auto;
        }

        &._home img {
          height: 27px;
        }
        &._calendar img {
          height: 29px;
        }
        &._greeting img {
          height: 28px;
        }
      }
    }
  }
}
.pmday-button {
  @include generalFont(14px, uppercase);
  background-color: $brownColor;
  border-radius: 4px;
  padding: 2px;
  text-decoration: none;
  margin: auto;
  display: block;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: clamp(13px, 4vw, 14px);

  span {
    padding: 11px 20px;
    display: block;
    border: 1px dashed #fff;
  }
}
figure.fullwidth {
  text-align: center;
  width: 80%;
  max-width: 1440px;
  margin: auto;
  margin-top: 80px;
  border: 2px solid $greyColor;
  padding: 15px;

  iframe {
    width: 100%;
  }
}
.pmd_copy-btn {
  background: none;
  cursor: copy;
  border: none;
  font-size: 12px;
  color: #212121;
  margin: 20px auto;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    vertical-align: sub;
    display: inline-block;
    margin-right: 5px;
    background-image: url("../../dist/images/icons/copy.svg");
  }
  &.copied {
    font-size: 0;

    &::after {
      content: "Copied";
      font-size: 12px;
    }
  }
}
.sub-title {
  @include generalFont(14px, capitalize);
  line-height: 18px;
  max-width: 320px;
  margin: 0 auto 10px;
}
.hero {
  @include section();

  background-image: url("../../dist/images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  padding: 230px 0 160px;
  color: #fff;
  min-height: 600px;

  * {
    text-align: center;
  }
  .title {
    @include generalFont(60px, capitalize);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    display: block;
    line-height: 1.5;
    position: relative;

    svg {
      display: block;

      &.and {
        position: absolute;
        right: 35px;
      }
    }
  }
  p {
    @include generalFont(16px, capitalize);
  }
  .date-description {
    margin: 10px 0 25px;
  }
}
.countdown {
  @include section();
  padding-top: 30px;
  background-image: url("../../dist/images/ornaments/decor_flower_01.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;

  .content {
    width: 85%;
    position: relative;
    padding-top: 40px;
    max-width: 400px;
    padding-bottom: 40px;

    .countdown-wrapper {
      display: flex;
      gap: 10px;
      margin-bottom: 33px;

      li {
        display: inline-block;
        border-radius: 20px;
        background-image: url("../../dist/images/ornaments/shape-countdown.svg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        background-repeat: no-repeat;
        min-height: 73px;
        position: relative;
        width: 31%;

        .time {
          @include titlelatin(40px);
          line-height: 50px;
        }
        .desc {
          text-transform: capitalize;
          font-size: 12.5px;
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
        }
      }
    }

    .pmday-button {
      width: 75%;
    }

    .pmd-ornament-flower {
      display: none;
      position: absolute;
      top: -5px;
      z-index: -1;

      img {
        width: 100%;
      }
    }
  }
}
.center-column {
  & > .header,
  & > .content {
    @include sectionCenter();
    z-index: 1;
    position: relative;
  }
}
.couple {
  @include section();
  background-image: url("../../dist/images/ornaments/pmd-bg_texture.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;
  padding-bottom: 20px;

  &::after {
    content: "";
    background: #f5f5f5;
    width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    z-index: 0;
  }
  & > div {
    z-index: 1;
  }
  .sub-header {
    p {
      font-family: "RobotoSerif";
      font-weight: 400;
      font-size: 12px;
      margin: 10px auto;
      color: $mainColor;
      line-height: 1.5;
      max-width: 192px;
    }
  }

  .content {
    display: grid;
    padding: 10px;
    grid-template-columns: 100%;
    max-width: 400px;

    .grid-profile__name {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 10px;

      h1,
      p {
        @include generalFont(16px, capitalize);
        line-height: 18px;
      }
      p {
        font-size: 14px;
      }
      .desc-address {
        margin: 5px 0 10px;
      }
    }
    .grid-profile__photo {
      &.bride {
        grid-row: 1 / 2;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.date-maps {
  position: relative;

  .content {
    @include contentFlex();
    background-image: url("../../dist/images/ornaments/bg-date.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 360px;
    flex-direction: column;
    gap: 0;
    padding-top: 100px;
    padding-bottom: 108px;
    width: 100%;
  }
  .pmday-button {
    margin-top: 20px;
    max-width: 50%;
  }
  .maps {
    border: 0;
    padding: 0;
    iframe {
      width: 242px;
      height: 140px;
      margin-right: -5px;
    }
    &.bottom {
      margin-top: 80px;
    }
  }
}

.gallery {
  margin-top: -80px;
  .content {
    position: relative;
    text-align: center;
    .pmd-ornament-flower {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  .gallery-slider {
    &:not(.slick-slider) {
      & > picture {
        display: none;

        &::first-child {
          display: block;
        }
      }
    }
    .slick-slide img {
      margin: auto;
    }

    .slick-dots {
      li,
      button {
        width: 10px;
        height: 10px;
      }
      li {
        &.slick-active {
          top: -1px;

          button:before {
            width: 10px;
            height: 10px;
          }
        }
        button:before {
          font-family: inherit;
          background: $secondColor;
          content: "";
          border-radius: 50%;
          height: 8px;
          width: 8px;
        }
      }
    }
  }
}
.protocols {
  background-image: url("../../dist/images/ornaments/bg-prokes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;
  padding-bottom: 100px;
  padding-top: 50px;

  .sub-title {
    margin: 20px auto 90px;
  }

  .content {
    display: grid;
    justify-content: center;
    row-gap: 5px;
    grid-template-columns: 50% 50%;
    width: 310px;
    margin: auto;

    figure {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      &:first-child figcaption {
        margin-top: 7px;
      }

      img {
        width: 100%;
        max-width: 80px;
      }

      figcaption {
        margin-top: 7px;
        @include generalFont(14px, capitalize);
        line-height: 18px;
        text-align: center;
      }
    }
  }
}
.ar-rum {
  margin: 0;
  padding: 0;
  h1 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 18px;
    font-family: "Arial";
    color: $mainColor;
  }
  .sub-title {
    font-weight: 500;
    line-height: 18px;
    @include generalFont(14px);
  }
}
.greeting {
  background-image: url("../../dist/images/ornaments/bg-greeting.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;

  .title {
    margin-top: 30px;
    max-width: 250px;
    margin-bottom: 40px;
  }
  .content {
    .form-greeting {
      width: 85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 5px;
      background: none;
      max-width: 280px;
      padding: 50px 0 60px;

      .alert {
        font-weight: 400;
        font-size: 12px;
        color: #d20000;
      }
      .form-group {
        width: 50%;
        width: calc(50% - (30px / 2));
        width: 100%;
        margin-bottom: 10px;

        &.prayer-wrapper {
          width: 100%;
        }
      }
      select {
        height: 100%;
        -webkit-appearance: none;
        color: #000;
      }
      button {
        width: 100%;
        border: 0;
        color: #fff;
        height: 42px;
      }
    }
  }
}
.greeting-list {
  .greeting-wrapper {
    background-color: #fff;
    box-shadow: 5px 10px 35px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    max-width: 400px;

    ul {
      width: 85%;
      margin: auto;
      max-height: 600px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;

      li {
        color: #fff;
        padding: 15px;
        border-radius: 10px;
        text-align: left;
        background: $secondColor;
        margin-bottom: 1px;
        margin-bottom: 5px;

        h2 {
          margin-bottom: 5px;
          @include generalFont($size: 16px);
          color: #fff;
        }
        .greetcheck {
          text-align: right;
          font-size: 12px;
          font-size: 10px;
          text-align: left;
          padding: 5px 0;
          border-bottom: 1px solid #fff;

          &::before {
            content: "";
            background-image: url("../../dist/images/icons/hadir.svg");
            width: 10px;
            height: 10px;
            display: inline-block;
            background-size: cover;
            margin-right: 5px;
          }
          &.Belum::before {
            background-image: url("../../dist/images/icons/tidak-hadir.svg");
          }
        }
        .greettext {
          margin: 10px 0;
          @include generalFont($size: 14px);
          color: #fff;
        }
      }
    }
  }
}
.prefooter {
  background-image: url("../../dist/images/ornaments/bg-prefooter.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  padding: 0;
  position: relative;

  * {
    @include generalFont($size: 14px);
    line-height: 18px;
  }
  h1 {
    font-weight: 500;
  }
  .title {
    text-transform: capitalize !important;
    font-size: 14px !important;
  }
  .sub-title {
    font-family: "RobotoSerif";
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .content {
    margin-bottom: 20px;
    .content-title {
      margin-bottom: 45px;
    }
    .keluarga-wrapper {
      display: flex;
      max-width: 360px;
      margin: auto;
      gap: 15px;
      width: 80%;
    }
  }
  .pmd-ornament-flower {
    position: absolute;
    top: -15px;
    z-index: -1;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
footer {
  padding: 30px 15px 100px;
  text-align: center;
  background-color: $mainColor;
  color: #fff;

  a {
    margin-top: 10px;
    display: block;
    text-decoration: none;
  }

  * {
    font-size: 12px;
  }
}
.popup-opening {
  @include section();
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: #f5f5f5;
  text-align: center;
  padding: 10px;
  background-image: url("../../dist/images/galleries/popup-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;

  .subheader {
    margin-bottom: 20px;
    margin-top: 3vh;

    img {
      width: 60px;
    }
    .sasha {
      width: 73px;
      height: 45px;
    }
    .and {
      position: absolute;
      width: 11px;
      top: 35px;
      right: 20px;
    }
    .pandu {
      width: 82px;
      height: 50px;
      margin-top: -5px;
    }
    p {
      margin: 0;
      line-height: 16px;
      b {
        color: $mainColor;
        font-size: 16px;
      }
    }
    .title {
      position: relative;
      max-width: 85px;
      text-align: center;
    }
  }
  .popup-footer {
    text-align: center;
    margin-top: 10px;
    .divider-img {
      margin: auto;
      display: block;
    }
    .logo {
      filter: invert(1);
      opacity: 0.3;
    }
  }
  .minicard {
    width: 186px;
    height: 261px;
    display: block;
    margin: 10px auto;
  }
  h1 {
    font-size: 25px;
  }
  p {
    @include generalFont(20px, capitalize);
    line-height: 18px;
    margin: 5px;
    font-size: 14px;
    max-width: 300px;
  }

  h2 {
    font-family: "BodoniXT";
    color: $mainColor;
    line-height: 18px;
    font-weight: 500;
    font-size: 16px;
    margin: 1.2vh 0;
    text-transform: capitalize;
  }
  button {
    margin-top: 3vh;
    cursor: pointer;

    span {
      padding: 11px 40px;
    }
  }
}

#control-music {
  position: fixed;
  z-index: 9;
  width: 50px;
  height: 50px;
  left: 15px;
  bottom: 15px;
  cursor: pointer;

  img {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    width: 100%;
  }

  &.paused {
    img {
      animation: none;
      position: relative;
      opacity: 0.7;
    }

    &:after {
      border-left: 5px solid #fff;
      border-right: 5px solid #fff;
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 30px;
      top: 20%;
      left: 25%;
    }
  }
}
.plan-my-day .lg-container {
  .lg-prev::after {
    content: "<";
  }
  .lg-next::before {
    content: ">";
  }
  .lg-close:after,
  .lg-download::after {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../../dist/images/icons/close.svg");
    background-size: cover;
  }
  .lg-download::after {
    background-image: url("../../dist/images/icons/download.svg");
  }
}
//  ===================================== MOBILE =========================================== //
.plan-my-day {
  @include phone {
    #control-music {
      bottom: 100px;
      right: 20px;
      left: unset;
      width: 45px;
      height: 45px;
      &::after {
        width: 12px;
        height: 25px;
        top: 23%;
      }
    }
    .center-column > .header,
    .center-column > .content {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .prefooter .pmd-ornament-flower {
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
//  ===================================== Desktop =========================================== //
.plan-my-day {
  @include desktop {
  }
}
